{% load staticfiles %} {% load i18n widget_tweaks %}

<!-- Password reset completed HTML -->

<link rel="stylesheet" href="{% static 'js/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'js/bootstrap-theme.min.css' %}">
<script src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<p style="margin-right:30px; margin-top:10px; float:right">
<a href="/">Back to Home</a>
</p>
<h1 style="padding-left:10px;padding-top:10px">Reset Password</h1>

<div class="btmBorder"></div><br>

<div style="padding-left:50px">
<p>Your password has been set.  You may go ahead and log in now.</p>
<p><a href="/login">Log in</a></p><br><br>
</div>