{% load staticfiles %} {% load i18n widget_tweaks %}

<!-- Password Reset Email Sent HTML -->

<link rel="stylesheet" href="{% static 'js/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'js/bootstrap-theme.min.css' %}">
<script src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<h1 style="padding-left:10px;padding-top:10px">Password reset successful<a class="right defText" href="/">Back to Home Page</a></h1>
<div class="btmBorder"></div><br>

<div style="padding-left:50px">
<p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
<p>You should be receiving it shortly.</p>
</div><br><br>