{% load staticfiles %} {% load i18n widget_tweaks %}

<!-- Password reset HTML -->

<link rel="stylesheet" href="{% static 'js/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'js/bootstrap-theme.min.css' %}">
<script src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<p style="margin-right:30px; margin-top:10px; float:right">
<a href="/">Back to Home Page</a>
</p>
<h1 style="padding-left:10px;padding-top:10px">Setting New password</h1>

<div class="btmBorder"></div><br>

<div style="padding-left:50px">
    {% if validlink %}
        <p>Please enter your new password.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr><br>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h3>Password reset unsuccessful</h3>
        <p>The password reset link was invalid, request a new password reset.</p>
    {% endif %}
</div><br><br>