{% load staticfiles %} {% load i18n widget_tweaks %}

<!-- Password Reset HTML -->

<link rel="stylesheet" href="{% static 'js/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'js/bootstrap-theme.min.css' %}">
<script src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<style>
    .inline-form {
        font-size:14px;
    }

    .inline-form td{
        padding-right: 10px;
        width: 300px;
    }
</style>

<h1 style="padding-left:10px;padding-top:10px">Reset Password<a class="right defText" href="/">Back to Home Page</a></h1>
<div class="btmBorder"></div><br>

<div style="padding-left:50px">
<p>Please specify your email address to receive instructions for resetting it.</p>
<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>

<table class='inline-form'>
    <tr>
        <td>
        {{ form.email.errors }}
        <div class='form-group {% if form.email.errors %} has-error {% endif %}'>
            <label class='control-label' for='{{ form.email.id_for_label }}'>{{ form.email.label }}</label>
            <div>
                {{ form.email|attr:'class:form-control' }} {% if form.email.help_text %}
                <p class='help-block'><small>{{ form.email.help_text }}</small></p>
                {% endif %}
            </div>
        </div>
        </td>
        <td>
        <button type="submit" class="btn btn-primary" name="ResetPass" style="margin-top:5px">Reset password</button>
        </td>
    </tr>
</table>

</form>
</div><br><br>